*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
package-lock.json
/.history
/.vscode
/node_modules
/react/node_modules
/react/.history
/react/package-lock.json
stories-for-sustainability-firebase-adminsdk-28p7t-5d98b6bd99.json
