body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Landing {
  text-align: center;
}

.Landing-logo {
  animation: Landing-logo-spin infinite 20s linear;
  height: 40vmin;
  padding: 20px 32px; 
  pointer-events: none;

}

.button {
  margin-top: 40px;
  font-size: 18px;
  height: 65px;
  width: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background-color: #4CAF50;
  cursor: pointer;
}

.admin-delete-button {
  margin-top: 40px;
  font-size: 18px;
  height: 65px;
  width: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background-color:red;
  cursor: pointer;
}

.login-button {
 margin: 30px;
 font-size: 16px;
 height: 65px;
 width: 150px;
 border-radius: 10px;
 border: none;
 box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
 background-color: #4CAF50;
 color: white;
 cursor: pointer;
}

.signup-button {
 /* margin: 30px 55px; */
 font-size: 16px;
 height: 65px;
 width: 150px;
 margin:30px 20px;
 border-radius: 10px;
 border: none;
 box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
 background-color: #4CAF50;
 color: white;
 cursor: pointer;
}

.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}


.Landing-link {
  color: #61dafb;
}

@keyframes Landing-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-style-1 {
  
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
  font-size: 16px;

}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=password]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
  width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
.book-cover{
  width:200px;
  height:250px;
  padding:20px;
  display: inline;
  float:left;
}
.row{
  border: none;
}
.name{
  color:white;
  font-weight: bold;
}
.description{
  color:white;
  font-weight:lighter;
}
.book {
  padding: 50px;
}
.libButton {
  position: absolute;
  left: 40px;
  top: 20px;
  color:white;
  margin-top: 40px;
  font-size: 18px;
  height: 65px;
  width: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background-color: #4CAF50;
  cursor: pointer;
}